@font-face {
    font-family: Pangolin;
    src: url('/Pangolin-Regular.ttf');
}

:root {
    font-family: Pangolin, Arial, Helvetica, sans-serif;
    color: #28282B;
}

h1 {
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0 30vw;
}

@media only screen and (max-width: 800px) {
    .column {
        margin: 0 10vw;
    }
}

#generated-link {
    overflow-wrap: break-word;
}

#links {
    margin: 3vh 0;
}