@font-face {
    font-family: Pangolin;
    src: url('/Pangolin-Regular.ttf');
}

:root {
    font-family: Pangolin, Arial, Helvetica, sans-serif;
    color: #28282B;
}

h1 {
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0 10vw;
}

#generated-link {
    overflow-wrap: break-word;
}